/* src\app\(afterLogin)\layout.module.css */

.container {
    display: flex;
    align-items: stretch;
    background-color: hsl(0, 0%, 100%);
    margin: -10px;
}

.leftSectionWrapper {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    flex-grow: 1;
    /* border: 5px solid green; */
}

.leftSection {
    /* background-color: orange; */
    width: 275px;
    padding: 0 8px;
    height: 100dvh;
    display: flex;
    flex-direction: column;
}

/* layout css 에서는 nav 영역과 로그아웃 버튼의 대략적 위치에 대한 css들을 설정 */
/* nav 옆에 기호 없애기 */
.leftSection nav li {
    list-style-type: none;
}

.leftSectionFixed {
    position: fixed;
    width: inherit;

    height: 100dvh;
    /* flex 를 이용해 leftSectionFixed 의 요소들을 배치 */
    display: flex;
    /* flex 를 column 방향으로 설정 해야 요소들이 세로로 배치됨 */
    flex-direction: column;
    /* 교차축이므로 세로 방향의 교차 즉 가로축 정렬 가운데 */
    align-items: center;
    justify-content: flex-start;
}

/*
    nav 영역의 flex 를 1로 지정하면 최대한 늘어나는 효과가 생겨서 
    아래 로그아웃 버튼이 바닥에 위치하게 됨 
    위에서 flex 방향으로 세로로 배치 햇기 때문에 아래로 늘어나는것임 
*/
.leftSectionFixed nav {
    flex: 1;
}

.logo {
    display: inline-block;
    height: 56px;
    /* margin-top: 2px; */
}

.logoPill {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoPill:hover {
    background-color: rgba(15, 20, 25, 0.1);
}


/* 게시하기 버튼 관련 start */
.postButton {
    margin: 16px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 28px;
    background-color: rgb(29, 155, 240);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 17px;
}

.postButton:hover {
    background-color: rgb(26, 140, 216);
}

.postButton span {
    display: none;
}

.postButton svg {
    display: inline-block;
    fill: white;
    width: 24px;
}

@media all and (min-width: 1200px) {
    .postButton {
        height: 52px;
        width: 234px;
        border-radius: 26px;
    }

    .postButton span {
        display: inline-block;
    }

    .postButton svg {
        display: none;
    }
}

/* 게시하기 버튼 관련 end */

.rightSectionWrapper {
    display: flex;
    align-items: flex-start;
    height: 100dvh;
    flex-direction: column;
    flex-grow: 1;
}

.rightSectionInner {
    /* background-color: aqua; */
    height: 100%;
    width: 990px;
    display: flex;
    justify-content: space-between;
}


.main {
    background-color: aliceblue;
    width: 600px;
    height: 150dvh;
}

.rightSection {
    /* background-color: lightblue; */
    width: 350px;
    height: 100%;
}

/* .search {
    position: fixed;
    height: 42px;
    width: inherit;
    border-radius: 21px;
    background-color: rgb(239, 243, 244);
    margin-top: 6px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
} */

.search svg {
    margin-left: 20px;
    fill: rgb(83, 100, 113);
}

.search input {
    outline: none;
    background-color: inherit;
    border: none;
    padding: 12px;
    margin-left: 5px;
    font-size: 15px;
}